{% extends "account/account_base.html" %}

{% block title %}
    Activación de cuenta no válida
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Enlace inválido</h4>

                <div class="card-body">
                        <div class="alert alert-danger font-weight-bold text-dark text-center">
                            El enlace de confirmación no era válido, posiblemente porque ya se ha utilizado.
                        </div>
                    <hr />
                    <div class="text-center font-weight-bold">
                      <a class="small text-info" href="{% url 'blog:home' %}">
                          Inicio
                      </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}