{% extends "account/account_base.html" %}

{% block title %}
    Restablecimiento de contraseña exitoso
{% endblock title %}

{% block content %}
    <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Restablecimiento de contraseña exitoso</h4>

                <div class="card-body">
                        <div class="alert alert-success text-dark text-center">
                            Su contraseña ha sido establecida. <br>
                            uede continuar e iniciar sesión ahora.
                        </div>
                    <hr />
                        <a class="btn btn-info float-right"
                           href="{% url 'blog:login' %}">Entre aquí</a>
                </div>
            </div>
    </div>

{% endblock content %}