{% extends "account/account_base.html" %}

{% block title %}
  Restablecimiento de contraseña realizado
{% endblock title %}

{% block content %}
    <div class="container d-flex">

    <div class="card shadow-sm">

            <h4 class="card-header">Restablecimiento de contraseña realizado</h4>

                <div class="card-body">
                    <div class="alert alert-info font-weight-bold text-dark text-center">
                      Le hemos enviado instrucciones por correo electrónico para establecer su contraseña,
                      si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.
                      <br>
                      Si no recibe un correo electrónico, asegúrese de haber ingresado
                      la dirección con la que se registró, y revisa tu carpeta de correo no deseado.
                    </div>
                    <hr />
                    <div class="text-center">
                      <a class="small text-info" href="{% url 'blog:home' %}">
                          Inicio
                      </a>
                    </div>
                </div>
            </div>

    </div>

{% endblock content %}