{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load only_hours %}

{% block title %}
Artículos publicados
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}

      <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-layers bg-success"></i>
                    <div class="d-inline">
                        <h5>Artículos publicados</h5>
                        <span>Lista de todos sus artículos publicados.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="title">Lista de artículos publicados</h4>
                            </div>
                          <div class="card-body">
                            <div class="content">
                                     <section class="blog-list px-3 py-5 p-md-5">
                                     {% if published_articles_list %}
                                            <div class="container">
                                           {% for article in published_articles_list  %}
                                                <div class="item mb-5">
                                                    <div class="media">
                                                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ article.image.url }}" alt="image">
                                                        <div class="media-body">
                                                            <h3 class="title mb-1"><a href="{% url 'blog:dashboard_article_detail' slug=article.slug %}">{{ article.title }}</a></h3>
                                                            <div class="meta mb-1"><span class="date"><b>Publicado:</b> <i>{{ article.date_published|timesince|upto:','}} ago</i></span>
                                                                <span class="time">{{ article.count_words }} palabra{{ article.count_words|pluralize }}</span>
                                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} leido</span>
                                                                <span class="comment">{{ article.views }} visto{{ article.views|pluralize }}</span>
                                                                <span class="comment"><a href="#">{{ article.comments.count }} comentario{{ article.comments.count|pluralize }}</a></span>
                                                                <span class="time">
                                                                <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                </i>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item" href="{% url 'blog:article_update' slug=article.slug %}">Editar artículo</a>
                                                                    <div class="dropdown-divider w-100" ></div>
                                                                    <a data-toggle="modal" data-target="#deleteModal" class="dropdown-item" href="javascript:void(0)">Eliminar artículo</a>
                                                                </div>
                                                              </span>
                                                            </div>
                                                            <a class="more-link" href="{% url 'blog:dashboard_article_detail' slug=article.slug %}">Ver detalles &rarr;</a>
                                                          <hr class="solid"><!-- Solid divider -->
                                                        </div><!--//media-body-->
                                                    </div><!--//media-->
                                                </div><!--//item-->
                                               <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel"><b>¿Listo para eliminar el artículo?</b></h5>
                                                <button
                                                  class="close"
                                                  type="button"
                                                  data-dismiss="modal"
                                                  aria-label="Close"
                                                >
                                                  <span aria-hidden="true">×</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Seleccionar "Eliminar artículo" a continuación si desea eliminar el artículo.
                                              </div>
                                              <div class="modal-footer">
                                                <button
                                                  class="btn btn-secondary"
                                                  type="button"
                                                  data-dismiss="modal"
                                                >
                                                  Cancelar
                                                </button>
                                                <a class="btn btn-danger" href="{% url 'blog:article_delete' slug=article.slug %}">Eliminar artículo</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                         {% endfor %}
                                            </div>
                                     {% else %}
                                               <center><div class="alert alert-info"><b>No hay artículos publicados</b></div></center>
                                     {% endif %}
                                        </section>

                                                {# Pagination for article post #}
                                        <nav aria-label="Page navigation example">
                                        {% if published_articles_list.has_other_pages %}
                                          <ul class="pagination justify-content-center">
                                          {% if published_articles_list.has_previous %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ published_articles_list.previous_page_number }}"
                                                 tabindex="-1">Anterior</a>
                                            </li>
                                          {% else %}
                                            <li class="page-item disabled">
                                             <span class="page-link">Anterior</span>
                                            </li>
                                             {% endif %}
                                            {% for i in published_articles_list.paginator.page_range %}
                                            {% if published_articles_list.number == i %}
                                                <li class="page-item active">
                                              <span class="page-link">
                                                {{ i }}
                                                <span class="sr-only">(actual)</span>
                                              </span>
                                            </li>
                                        {% else %}
                                           <li class="page-item">
                                               <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                           </li>
                                            {% endif %}

                                            {% endfor %}
                                            {% if published_articles_list.has_next %}
                                                <li class="page-item">
                                              <a class="page-link" href="?page={{ published_articles_list.next_page_number }}">Siguiente</a>
                                            </li>
                                            {% else %}
                                             <li class="page-item disabled">
                                             <span class="page-link">Siguiente</span>
                                            </li>
                                              {% endif %}
                                      </ul>
                                        {% endif %}
                                    </nav>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
    </div>
{% endblock content %}